*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: 'Dosis', sans-serif;
  background: rgb(175,3,3);
background: linear-gradient(123deg, rgba(175,3,3,1) 0%, rgba(2,20,181,1) 100%);
}

h1 {
  border-bottom: 1px solid white;
  text-align: center;
  color: white;
  padding: 20px;
}

h2 {
  color:white;
}

.App {
    width: 90vw;
    margin: auto;
    height: auto;
    min-height: 100vh;
}

.container {
  display: grid;
  grid-template-columns: 50% 50%;
  margin-top: 30px;
}

.card-task{
  background-color: rgba(255, 255, 255, 0.7);
    margin: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
        padding: 5px;
        width: 80%;
}

.buttons {
  display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 5px;
}

.btn {
      border: 1px solid;
    margin: 5px;
    border-radius: 5px;
    padding: 2px 5px;
    height: 30px;
}

form {
  display: flex;
  flex-direction: column;
  width: 80%;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  align-items: center;
  margin: 10px;
}

textarea {
  background: transparent;
    border: 1px solid;
    border-radius: 5px;
    width: 80%;
    font-family: 'Dosis', sans-serif; 
}

textarea::placeholder{
  font-family: 'Dosis', sans-serif; 
}

form > button {
      border: 1px solid;
    margin: 20px;
    border-radius: 5px;
    padding: 5px 10px;
    width: 30%;
}

input {
  border-style: none;
    box-shadow: none;
    border-bottom: 1px solid;
        background-color: transparent;
        margin: 20px 0;
         padding: 5px;
         width: 80%;
}

input::placeholder{
  font-family: 'Dosis', sans-serif; 
}

.cell {
  display: flex;
    flex-direction: column;
    align-items: center;
}
